{% extends 'blog/base.html' %}
{% load static %}
{% block content %}


<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem reiciendis, quibusdam ex, minima
        repellat laboriosam impedit vero ducimus natus nisi esse consequuntur placeat, voluptatibus consequatur aut
        dicta inventore repellendus quisquam.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam veritatis nulla atque, expedita ex maxime.</p>

</div>


{% endblock content %}